<div class="container text-center">
	<h1>Safenote</h1>
	<br>
	<p>Secure notes made simple.</p>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<h2><strong><a href="/new">new note</a></strong></h2>
</div>