<div class="container-fluid">
	<div class="text-center jumbotron" id="front">
	<br><br><br><br><br>
	<h1>Safenote</h1>
	<br>
	<p>Secure notes made simple.</p>
	<br>
	<br>
	<br>
	<br>
</div>
<div class="text-center">
	<br>
	<br>
	<br>
	<h2><strong><a href="/new">Create a Note</a></strong></h2>
	<br><br>
</div>

<style>
	#front {
		background-image: url(https://static.pexels.com/photos/6622/pexels-photo.jpeg);
		background-size: 100%;
	}
</style>
</div>