<div class="text-center">
	<div class="container-fluid">
		<div class="text-center jumbotron" id="front">
		<br><br><br><br><br>
		<h1>Safenote</h1><br>
		<p>Secure notes made simple.</p>
		<br><br><br><br>
	</div>
	<div class="row">
		<div class="col-lg-4 text-center">
			<h1>Secure</h1>
			<p>We use BCrypt to secure each anc every note on the platform.</p>
		</div>
		<div class="col-lg-4 text-center">
			<h1>Efficient</h1>
			<p>There is no computationally intensive algorithms used, after all -- it's just a note!</p>
		</div>
		<div class="col-lg-4 text-center">
			<h1>Simple</h1>
			<p> No need for any user authentication or additional features, it does what it says -- store notes securely!</p>
		</div>
	</div>
	<br><br><br>
	<h2><strong><a class='btn btn-lg btn-primary' href="/new">Create a Note</a></strong></h2>
	<br><br>
</div>

<style>
	#front {
		background-image: url(https://static.pexels.com/photos/6622/pexels-photo.jpeg);
		background-size: cover;
	}
</style>
</div>