<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Safenote</title>
	<script src="http://code.jquery.com/jquery.min.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://karlcoelho.github.io/fonts/fonts.css">
	<style>
		body {
			font-family: 'proxima-nova', sans-serif, !important;
		}
	</style>
</head>
<body>
	<%= yield %>
</body>
</html>