<div class="container">
	<h1>New note</h1>
	<form action="/new" method="post">
		note:<br><textarea name="note" id="" cols="30" rows="3" class="form-control"></textarea>
		<br><br>
		password: <br> <input type="text" name="password" class="form-control">
		<br><br>
		<input type="submit" class="btn btn-primary" value="submit">
	</form>
</div>