<br><br>
	<div class="row">
		<div class="col-lg-6">
			<h3>Enter the password for this note:</h3> <br><input type="text" class="form-control" id="pass"><br>
		<button class="btn btn-default" id="submit">Submit Password</button>
		</div>
	</div>

<script>
	$(function(){
		$ref = "<%= @ref %>";

		$('#submit').click(function(){
			var pass = $('#pass').val();
			window.location.href = '/verify/' + $ref + '?pass=' + pass;
		});
	});
</script>